<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Xeneta Test</title>
    
    <style>
      
    select {
  
  appearance: none;
 border-radius: 5%;
 background-color:#27ae60;
 color: #fff;
  border: 1px;
  margin-top: 35px;
  margin-right: 20px;
  height: 50px;
  width: 10%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  text-align: center;
  font-weight:bold;
  cursor: pointer;
  
  outline: none;
}
.submit1{
  
  
 border-radius: 5%;
 
  margin-top: 35px;
  margin-left: 100px;
  height: 50px;
  width: 10%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 20px;
  
  text-align: center;
  border: 4px solid #226fbe;
  color: #fff;
  background: #226fbe;
  cursor: pointer;
}


h2{
  text-align: center;
}

h5 {
  
font-size: 25px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rebeccapurple;
margin-right: 20px;
}

    </style>
</head>

<body>

    
<form   name="myForm" onsubmit="return validateForm()" method="post"  >
  <div class = "select" style="display:flex; margin-left: 25%;">
  <h5>  Search details of ports from </h5>
  

  <select id="mySelect" name ="select1">
    <option value="NOOSL">Oslo</option>
    <option value="CNSGH">Shanghai</option>
    <option value="CNSTG">Shantou</option>
    <option value="NLRTM">Rotterdam </option>
    <option value="DEHAM">Hamburg </option>
    <option value="GBFXT">Felixstowe </option>
    <option value="USNYC"> New York</option>
    

  </select>
<h5>to</h5>
  <select id="mySelect1"  name ="select2">
    <option value="NOOSL">Oslo</option>
    <option value="CNSGH">Shanghai</option>
    <option value="CNSTG">Shantou</option>
    <option value="NLRTM">Rotterdam </option>
    <option value="DEHAM">Hamburg </option>
    <option value="GBFXT">Felixstowe </option>
    <option value="USNYC"> New York</option>
    

  </select>

  <input class="submit1" type="submit" value="Submit">
  <select style="margin-left: 50px;" id="selectButton"></select>
</div>
</form>

  
    <h2>{{x}}</h2>
 <h2>{{z}}</h2>   
    
 
   
    
   
  <div style="margin-left: 200px;" id="my_dataviz"></div>
    
   
    
        
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script>

      function validateForm() {
        let x = document.forms["myForm"]["mySelect"].value;
        let y =document.forms["myForm"]["mySelect1"].value;
        if (x == y) {
          alert("both name can't be same ");
          return false;
        }
        else{
      
        }
      }
      
    </script>
      
    <script>

var  jdata = '{{fi|tojson | safe }}'

 data=JSON.parse(jdata)

    // set the dimensions and margins of the graph
    var margin = {top: 10, right: 100, bottom: 30, left: 200},
        width = 1500 - margin.left - margin.right,
        height = 700 - margin.top - margin.bottom;
    
    // append the svg object to the body of the page
    var svg = d3.select("#my_dataviz")
      .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");
              
    
    data.forEach(function (d) {

//NOW is parsing the date and time
d.day = d3.timeParse("%Y-%m-%d")(d.day)
d.high = +d.high
d.mean = +d.mean
d.low = +d.low

});
        // List of groups (here I have one group per column)
        var allGroup = ["low", "mean", "high"]
    
        // add the options to the button
        d3.select("#selectButton")
          .selectAll('myOptions')
             .data(allGroup)
          .enter()
            .append('option')
          .text(function (d) { return d; }) // text showed in the menu
          .attr("value", function (d) { return d; }) // corresponding value returned by the button
    
        // A color scale: one color for each group
        var myColor = d3.scaleOrdinal()
          .domain(allGroup)
          .range(d3.schemeSet3);
    
        
        var x = d3.scaleTime()
        .domain( d3.extent(data, function(d) { return d.day; }))
        
          .range([ 0, width ]);
        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));
    
        
        var y = d3.scaleLinear()
        .domain([0, d3.max(data, function(d) { return +d.high+100; })])
          .range([ height, 0 ]);
        svg.append("g")
          .call(d3.axisLeft(y));
    
        
        var line = svg
          .append('g')
          .append("path")
            .datum(data)
            .attr("d", d3.line()
              .x(function(d) { return x(+d.day) })
              .y(function(d) { return y(+d.low) })
            )
            .attr("stroke", function(d){ return myColor("low") })
            .style("stroke-width", 4)
            .style("fill", "none")
    
        
        function update(selectedGroup) {
    
          
          var dataFilter = data.map(function(d){return {day: d.day, value:d[selectedGroup]} })
    
         
          line
              .datum(dataFilter)
              .transition()
              .duration(1000)
              .attr("d", d3.line()
                .x(function(d) { return x(d.day) })
                .y(function(d) { return y(d.value) })
              )
              .attr("stroke", function(d){ return myColor(selectedGroup) })
        }
    
       
        d3.select("#selectButton").on("change", function(d) {
            
            var selectedOption = d3.select(this).property("value")
           
            update(selectedOption)
        })
    
    
    
    
    </script>
    
</body>
</html>


